@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Quattrocento&display=swap');

/* -------------------- VARIABLES */

/* -------------------- GLOBAL DEFAULTS */

*  {
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    color: #100f0d;
    background-color: #FFF4E2;
    font-family: 'Quattrocento', serif;
    line-height: 2;
    font-size: 18px;
}

a {
    color: red;
    text-decoration: none;
}

a:hover{
    background-color: #E8A397;
}

/* -------------------- HEADINGS AND TYPE */
header {
    color: #100f0d;
    font-family: 'Poppins', sans-serif;
    font-size: 96px;
    text-align: left;
    line-height: 1;
    max-width: 100%;
}

@media screen and (min-width: 300px) {
	.main-heading  {
	font-size: 48px;
    padding-left:5%;
    padding-right:5%;
    margin-left: auto;
    margin-right: auto;
	}
}


footer{
    color: #100f0d;
    background-color: #FFF4E2;
    font-family: 'Poppins', sans-serif;
    line-height: 2;
    font-size: 12px;
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

h4 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

p {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

ul {
    text-align: left;
    margin-left: 10%;
    padding-left: 5%;
    padding-right: auto;
}

li {
    text-align: left;
    margin-left: 10%;
    padding-left: 2%;
    padding-right: auto;
}

ol {
    text-align: left;
    padding-right: auto;
}

cite {
    text-align: center;
}

/* -------------------- LAYOUTS */

.layoutwide {
    display: grid;
    grid-template-columns : 1fr 1fr 1fr 1fr;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    align-items: end;;
}

@media screen and (min-width: 800px) {

        .layoutwide {
            
        }


} 

.photo-gallery {
    display: grid;
}

@media screen and (min-width: 500px) {

        .photo-gallery {
            grid-template-columns : 1fr 1fr;
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }


} 
.contact-buttons {
    padding-top:20%;
    padding-left:100px;
    max-width: 100%;
}
@media screen and (min-width: 500px) {
	.contact-buttons  {
	font-size: 48px;
    padding-left:5%;
    padding-right:5%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
	}
}

.kitty-logo{
    padding-top:22%;
    padding-left:20px;
    max-width: 70%;
}
@media screen and (min-width: 500px) {
	.contact-buttons  {
	font-size: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: ;
	}
}



/* -------------------- HEADER */

/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

/* -------------------- MODULES */
