@import url(normalize.css);


/* -------------------- VARIABLES */

/* -------------------- GLOBAL DEFAULTS */
header{
    color: #FFF4E2;
    font-family:  'Andalé Mono','Courier New', Courier, monospace;
    margin-left: 100px;
}

body{
    color: #FFF4E2;
     background-color: #100f0d;
     font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* -------------------- HEADINGS AND TYPE */

/* -------------------- LAYOUTS */

/* -------------------- HEADER */

/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

/* -------------------- MODULES */

